<div class="mission-form-container">
  <form [formGroup]="missionForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="name">Mission Name</label>
      <input id="name" formControlName="name" type="text" placeholder="Enter mission name" required>
      <mat-error class="error-message" *ngIf="missionForm.get('name')?.invalid && missionForm.get('name')?.touched">
        Name is required and must be less than 10 characters
      </mat-error>
    </div>

    <div class="form-group">
      <label for="flightPath">Flight Path</label>
      <select id="flightPath" formControlName="flightPath" required>
        <option value="Crosshatch">Crosshatch</option>
        <option value="Perimeter">Perimeter</option>
      </select>
      <mat-error class="error-message" *ngIf="missionForm.get('flightPath')?.invalid && missionForm.get('flightPath')?.touched">
        Flight Path is required
      </mat-error>
    </div>

    <div class="form-group">
      <label>Mission Location (Click on the map to add waypoints)</label>
      <div id="map"></div>
    </div>

    <div class="form-group">
      <label for="droneId">Available Drones</label>
      <select id="droneId" formControlName="droneId" required>
        <option value="">Select a drone</option>
        <option *ngFor="let drone of allDrones" [value]="drone._id">{{drone.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="altitude">Altitude (meters)</label>
      <input id="altitude" formControlName="altitude" type="number" placeholder="Enter altitude" min="1" required>
      <mat-error class="error-message" *ngIf="missionForm.get('altitude')?.invalid && missionForm.get('altitude')?.touched">
        Altitude is required
      </mat-error>
    </div>

    <div class="form-group">
      <label for="frequency">Frequency</label>
      <select id="frequency" formControlName="frequency" required>
        <option value="Daily">Daily</option>
        <option value="Monthly">Monthly</option>
      </select>
      <mat-error class="error-message" *ngIf="missionForm.get('frequency')?.invalid && missionForm.get('frequency')?.touched">
        Frequency is required
      </mat-error>
    </div>


    <div class="form-group">
      <label for="scheduledTime">Scheduled Time</label>
      <input id="scheduledTime" formControlName="scheduledTime" type="datetime-local" required>
    </div>
    <div class="form-group">
      <mat-error class="error-message" *ngIf="missionForm.get('scheduledTime')?.invalid && missionForm.get('scheduledTime')?.touched">
        Please select a future date and time
      </mat-error>
    </div>

    <button type="submit" [disabled]="missionForm.invalid" [style.opacity]="missionForm.invalid ? '0.5' : '1'">Submit</button>
  </form>
</div>



<!-- const missionSchema = new mongoose.Schema({
  name: { type: String, required: true },
  flightPath: { type: String, required: true },
  location: [{ lat: Number, lng: Number }], // Waypoints for the mission
  altitude: { type: Number, required: true }, // Altitude in meters
  frequency: { type: String, required: true }, // Data collection frequency
  sensors: [{ type: String }], // List of sensors used
  status: {
      type: String,
      enum: ["Scheduled", "In Progress", "Completed", "Aborted"],
      default: "Scheduled"
  },
  scheduledTime: { type: Date, required: true },
  createdBy: { type: mongoose.Schema.Types.ObjectId, ref: "User" },
}, { timestamps: true }); -->
