<div class="header-container">
  <div class="header-title">
    <h1 class="mission-title">All Missions</h1>
    <p class="mission-subtitle">Explore and manage your ongoing missions</p>
  </div>
  <div class="header-actions">
    <button
      mat-raised-button
      class="create-mission-btn"
      color="primary"
      (click)="openCreateMissionDialog()"
    >
      <span class="material-icons btn-icon">add_circle_outline</span>
      Create Mission
    </button>
  </div>
</div>

<mat-tab-group class="mission-tab-group">
  <mat-tab label="Active Missions">
    <div class="tab-content">

      <table mat-table [dataSource]="activeMissions" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Mission Name </th>
          <td mat-cell *matCellDef="let mission"> {{mission.name}} </td>
        </ng-container>

        <!-- Flight Path Column -->
        <ng-container matColumnDef="flightPath">
          <th mat-header-cell *matHeaderCellDef> Flight Path </th>
          <td mat-cell *matCellDef="let mission"> {{mission.flightPath}} </td>
        </ng-container>

        <!-- Altitude Column -->
        <ng-container matColumnDef="altitude">
          <th mat-header-cell *matHeaderCellDef> Altitude (m) </th>
          <td mat-cell *matCellDef="let mission"> {{mission.altitude}} </td>
        </ng-container>

        <!-- Scheduled Time Column -->
        <ng-container matColumnDef="scheduledTime">
          <th mat-header-cell *matHeaderCellDef> Scheduled Time </th>
          <td mat-cell *matCellDef="let mission"> {{mission.scheduledTime | date:'medium'}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef> Frequency </th>
          <td mat-cell *matCellDef="let mission"> {{mission.frequency}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let mission">
            <button mat-icon-button color="primary" (click)="abortMission(mission._id)">
              <span class="material-icons">cancel</span>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'flightPath', 'altitude', 'scheduledTime', 'frequency', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'flightPath', 'altitude', 'scheduledTime', 'frequency', 'actions'];"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Completed Missions">
    <div class="tab-content">


      <table mat-table [dataSource]="completedMissions" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Mission Name </th>
          <td mat-cell *matCellDef="let mission"> {{mission.name}} </td>
        </ng-container>

        <!-- Flight Path Column -->
        <ng-container matColumnDef="flightPath">
          <th mat-header-cell *matHeaderCellDef> Flight Path </th>
          <td mat-cell *matCellDef="let mission"> {{mission.flightPath}} </td>
        </ng-container>

        <!-- Altitude Column -->
        <ng-container matColumnDef="altitude">
          <th mat-header-cell *matHeaderCellDef> Altitude (m) </th>
          <td mat-cell *matCellDef="let mission"> {{mission.altitude}} </td>
        </ng-container>

        <!-- Scheduled Time Column -->
        <ng-container matColumnDef="scheduledTime">
          <th mat-header-cell *matHeaderCellDef> Scheduled Time </th>
          <td mat-cell *matCellDef="let mission"> {{mission.scheduledTime | date:'medium'}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef> Frequency </th>
          <td mat-cell *matCellDef="let mission"> {{mission.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'flightPath', 'altitude', 'scheduledTime', 'frequency']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'flightPath', 'altitude', 'scheduledTime', 'frequency'];"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Scheduled Missions">
    <div class="tab-content">
      <table mat-table [dataSource]="scheduledMissions" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Mission Name </th>
          <td mat-cell *matCellDef="let mission"> {{mission.name}} </td>
        </ng-container>

        <!-- Flight Path Column -->
        <ng-container matColumnDef="flightPath">
          <th mat-header-cell *matHeaderCellDef> Flight Path </th>
          <td mat-cell *matCellDef="let mission"> {{mission.flightPath}} </td>
        </ng-container>

        <!-- Altitude Column -->
        <ng-container matColumnDef="altitude">
          <th mat-header-cell *matHeaderCellDef> Altitude (m) </th>
          <td mat-cell *matCellDef="let mission"> {{mission.altitude}} </td>
        </ng-container>

        <!-- Scheduled Time Column -->
        <ng-container matColumnDef="scheduledTime">
          <th mat-header-cell *matHeaderCellDef> Scheduled Time </th>
          <td mat-cell *matCellDef="let mission"> {{mission.scheduledTime | date:'medium'}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef> Frequency </th>
          <td mat-cell *matCellDef="let mission"> {{mission.frequency}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let mission">
            <button mat-icon-button color="primary">
              <span class="material-icons">edit</span>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'flightPath', 'altitude', 'scheduledTime', 'frequency']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'flightPath', 'altitude', 'scheduledTime', 'frequency'];"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Aborted Missions">
    <div class="tab-content">


      <table mat-table [dataSource]="abortedMissions" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Mission Name </th>
          <td mat-cell *matCellDef="let mission"> {{mission.name}} </td>
        </ng-container>

        <!-- Flight Path Column -->
        <ng-container matColumnDef="flightPath">
          <th mat-header-cell *matHeaderCellDef> Flight Path </th>
          <td mat-cell *matCellDef="let mission"> {{mission.flightPath}} </td>
        </ng-container>

        <!-- Altitude Column -->
        <ng-container matColumnDef="altitude">
          <th mat-header-cell *matHeaderCellDef> Altitude (m) </th>
          <td mat-cell *matCellDef="let mission"> {{mission.altitude}} </td>
        </ng-container>

        <!-- Scheduled Time Column -->
        <ng-container matColumnDef="scheduledTime">
          <th mat-header-cell *matHeaderCellDef> Scheduled Time </th>
          <td mat-cell *matCellDef="let mission"> {{mission.scheduledTime | date:'medium'}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef> Frequency </th>
          <td mat-cell *matCellDef="let mission"> {{mission.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'flightPath', 'altitude', 'scheduledTime', 'frequency']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'flightPath', 'altitude', 'scheduledTime', 'frequency'];"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
